.edit-user {
  background: white;
  margin: 40px;
  padding: 40px
}
.close-btn {
  align-self: flex-end
}



.space-user {
  font-size: 1rem;
  padding: 0 20px;
  margin: 0 20px 20px 20px;
  align-items: flex-end;
}
