body {
  background: blue;
}
 h2, p {
   padding: 10px;
   color: #fff,
 }
 .search {
   padding: 20px;
   color: #fff;
 }
 .search-input{
   width: 30%
 }

 thead{
   background: grey;
   color: #eee;
   font-size: 1.1rem;
   th {
     padding: 15px;
   }
   td {
     align-items: center;
     justify-content: center;
     justify-items: center;
   }
 }
