body {
  background: blue; }

h2, p {
  padding: 10px;
  color: #fff; }

.search {
  padding: 20px;
  color: #fff; }

.search-input {
  width: 30%; }

table {
  padding: 20px; }

.btn-blue {
  border-radius: 10px;
  padding: 10px;
  background: blue;
  color: #fff;
  border: none;
  margin: 10px; }

h3 {
  padding: 10px; }

.add-user {
  font-size: 1rem;
  padding: 0 20px;
  margin: 15px 20px; }

input {
  padding: 5px;
  border-radius: 5px;
  margin: 0 10px 20px; }
